* {
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 70px;
}
h2 {
	text-transform: uppercase;

}
.external {
	color: yellow;
}
.languages{
	background-color: #4dc478;
}
.Tools {
	border: 2px solid lightblue;
}
section img {
	height: 300px;
	width: 300px;
	border-radius:150px ;
}
ul ~ p {
	text-align: center;
}
ul > li {
	letter-spacing: 10px;
}
